html
{
    height:100%;
}

body
{
    display:flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(50, 154, 103, 0.2); 

}

.schedule, .entry
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 7%;
}

.schedule
{
    padding-left: 7%;
}


.menu-text
{
    flex-grow: 1;
}

header
{
    background-color: rgb(50, 154, 103); 
    flex-grow: 0;
    flex-basis: 120px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-left: 80px;
    max-height: 15vw;

}

img
{
    max-width: 100%;
}

main
{
    flex-grow: 1;
}

nav
{
    display: flex;
    justify-content: end;
    gap: 6px;
    padding: 6px 6px 6px 0;
    background-color: rgb(17 145 43 / 3%);
}


.dropdown-content
{
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: height 0.5s;
    width: 200px;
    align-items: flex-end;
    height: 0px;
}

.schedule-dropdown, .entry-dropdown
{
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: height 0.5s;
    width: 200px;
    align-items: flex-end;
    height: 0px;
}


.container
{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    height: 85%;
}

.margin-left
{
    border-right: white solid 1px;
}

.margin-right
{
    border-left: white solid 1px;
}

.text
{
    color: black;
    text-align: center;
    width: 75%;
    padding: 0 50px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}

.schedule-container
{
    display: flex;
    color: black;
    text-align: left;
    width: 100%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.schedule-left
{
    flex-basis: 55%;
}

.schedule-right
{
    flex-basis: 45%;
}

.sub-heading
{
    padding-top: 20px;
    font-weight: bold;
}

a
{
    text-decoration: none;
}



.show
{
    color: white;
    background-color: rgb(23 118 47);
    width: 200px;
    line-height: 40px;
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 7%;
}

.link-selected
{
    color: white;
    background-color: rgba(23, 118, 47, 0.6);
    width: 200px;
    line-height: 40px;
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
}


.link
{
    color: white;
    background-color: rgb(23 118 47);
    width: 200px;
    line-height: 40px;
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;

}

.sub-link
{
    color: white;
    background-color: rgb(23 118 47);
    width: 180px;
    line-height: 40px;
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
}

.link:hover, .home:hover, .sub-link:hover, .sub-sub-link:hover, .show:hover
{
    background-color: rgba(23, 118, 47, 0.6);
    cursor: pointer;
}

.sub-link-selected
{
    color: white;
    background-color: rgba(23, 118, 47, 0.6);
    width: 180px;
    line-height: 40px;
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
}

.link-selected, .sub-link-selected:hover, .sub-sub-link-selected:hover, #current-page:hover
{
    cursor: pointer;
}


.sub-sub-link
{
    color: white;
    background-color: rgb(23 118 47);
    width: 160px;
    line-height: 40px;
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
}

.sub-sub-link-selected
{
    color: white;
    background-color: rgba(23, 118, 47, 0.6);
    width: 160px;
    line-height: 40px;
    text-align: center;
    font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
}

.sub-link, .sub-sub-link, .sub-link-selected, .sub-sub-link-selected
{
    margin-top: 6px;
}

.home
{
    background-color: rgb(23 118 47);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


#current-page
{
    height: 40px;
    background-color: rgba(23, 118, 47, 0.6);
}

th, td
{
    border: black solid 1px;
    height: 40px;
}

table
{
    width: 100%;
    text-align: center;
}

.pay
{
    color: red;
    text-decoration: underline;
}

.line
{
    border-bottom: black dotted 4px;
    flex-grow: 6;
    margin-right: 60px;
}

.line2
{
    border-bottom: black dotted 4px;
    flex-grow: 1;
}

.line3
{
    border-bottom: black dotted 4px;
    flex-grow: 3;
}

.name-container
{
    display: flex;
    margin: 10px 0;

}

@media screen and (max-width: 900px) 
{
    
    nav
    {
        display: block;
        padding: 0 6px;
    }

    .home,.link
    {
        width: 100%;
        margin: 6px 0;
    }

    .dropdown-content
    {
        width: 80%;
        display: block;
        position: static;
        margin: 0 auto;
    }

    .schedule-dropdown
    {
        width: 80%;
        margin: 0 auto;
        display: block;
        position: static;
    }

    .entry-dropdown
    {
        width: 80%;
        margin: 0 auto;
        display: block;
        position: static;
    }

    .sub-link,  .sub-link-selected
    {
        width: 100%;
        margin: 6px auto 0;
    }
    
    .sub-sub-link, .sub-sub-link-selected
    {
        width:100%;
        margin: 6px auto 0;
    }

    .schedule, .entry
    {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 30%;
    }

    .show
    {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 34%;  
        width: 100%; 
    }

    .container
    {
        padding: 0;
    }

    .margin-left,.margin-right
    {
        display: none;
    }

    .text
    {
        width: 100%;
        padding: 0 10px;
    }

    .schedule-container
    {
        display: block;
        width: 100%;
        padding: 0;
    }

    .spring-mobile
    {
        height: 70%;
    }


}

@media screen and (max-width: 1093px)
{

    header
    {
        padding-left: 0;
        justify-content: center;
    }

}

@media screen and (max-width: 600px)
{
    .show
    {
        padding: 0 32%;
    }

    .schedule, .entry
    {
        padding: 0 27%;
    }
}

@media screen and (max-width: 500px)
{
    .show
    {
        padding: 0 27%;
    }

    .schedule, .entry
    {
        padding: 0 21%;
    }
}


@media screen and (max-width: 410px)
{
    .text
    {
        font-size: 18px;
    }

    .show
    {
        padding: 0 22%;
    }

    .schedule, .entry
    {
        padding: 0 15%;
    }
}