

body
{
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgba(50, 154, 103, 0.2);
}

#hort-body
{
    background-color: rgb(238,229,224);
}

#parish:hover
{
    cursor:pointer;
}

#nav-hort
{
    background-color: rgb(17 145 43 / 7%);
}

#show
{
    color: white;
    width: 260px;
    line-height: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 7%;
}


.schedule, .entry
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 7%;
}

.schedule
{
    padding-left: 7%;
}

#schedule-content
{
    font-family: Helvetica, Arial, sans-serif;
    font-size:25px;
    display:flex;
    flex-direction: column; 
    align-items: center;
}

.schedule-section
{
    border-bottom: 4px  rgb(0, 135, 68) solid;
    margin-bottom: 20px;
}

.schedule-container
{
    display: flex;

}

.schedule-heading
{
    font-size: 35px;
}

#pat-carter
{
    font-style: italic; 
    margin: 10px 0;
}

#men
{
    font-weight: bold; 
    margin:10px 0 30px;
}

#men-text
{
    font-style: italic; 
    margin: 10px 0 30px;
}


.division
{
    color: rgb(0, 135, 68);
    font-weight: 1000;
    font-size: 40px;
}

.schedule-numbers
{
    width: 100px;
    font-weight:bold;
}

.schedule-text
{
    width: 650px;
}

.schedule-note
{
    width: 350px;
    font-style: italic;
}

.empty-note
{
    visibility: hidden;
}

.cookery-notice
{
    text-align: center;
    margin-bottom: 20px;
    font-size: 33px;
    color: rgb(103, 61, 196);
    font-weight: 1000;
}

li
{
    list-style-type: none;
    margin-bottom:20px;
}

ol
{
    padding:0;
}

.menu-text
{
    flex-grow: 1;
}

#garden-entries li
{
    list-style-type: disc;
    list-style-position: inside;
}

#garden-entries
{
    width: 750px;
}

#garden-section
{
    border-top: 4px  rgb(0, 135, 68) solid;
    padding-top: 20px;
    border-bottom: 0;
}

header
{
    background-color: rgb(50, 154, 103); 
    flex-grow: 0;
    flex-basis: 120px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding-left: 80px;
    max-height: 15vw;

}

img
{
    max-width: 100%;
}

main
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

nav
{
    display: flex;
    justify-content: end;
    gap: 6px;
    padding: 6px 6px 6px 0;
    background-color: rgb(17 145 43 / 3%);
    z-index: 2;
}


.dropdown-content
{
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: height 0.5s;
    width: 260px;
    align-items: center;
    height: 0px;
}

.schedule-dropdown, .entry-dropdown
{
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: height 0.5s;
    width: 260px;
    align-items: center;
    height: 0px;
}


.container
{
    display: flex;
    justify-content: center;
    padding: 0.5vh 0;
    flex-grow: 1;
}

.margin-left
{
    border-right: white solid 1px;
}

.margin-right
{
    border-left: white solid 1px;
}

.text
{
    color: black;
    text-align: center;
    width: 75%;
    padding: 0 50px;
    font-size: 25px;
    font-family: Arial, sans-serif;

}

.sub-heading
{
    padding-top: 20px;
    font-weight: bold;
}

a
{
    text-decoration: none;
}


.link-selected
{
    color: white;
    background-color: rgba(23, 118, 47, 0.75);
    width: 200px;
    line-height: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
}


.link
{
    color: white;
    background-color: rgb(23 118 47);
    width: 200px;
    line-height: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;

}

.sub-link
{
    color: white;
    background-color: rgb(23 118 47);
    width: 220px;
    line-height: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
}

.link:hover, .home:hover, .sub-link:hover, .sub-sub-link:hover, #show:hover
{
    background-color: rgba(23, 118, 47, 0.76);
    cursor: pointer;
}

.sub-link-selected
{
    color: white;
    background-color: rgba(23, 118, 47, 0.75);
    width: 220px;
    line-height: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
}

.link-selected, .sub-link-selected:hover, .sub-sub-link-selected:hover, #current-page:hover
{
    cursor: pointer;
}


.sub-sub-link
{
    color: white;
    background-color: rgb(23 118 47);
    width: 190px;
    line-height: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
}

.sub-sub-link-selected
{
    color: white;
    background-color: rgba(23, 118, 47, 0.75);
    width: 190px;
    line-height: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
}

.sub-link, .sub-sub-link, .sub-link-selected, .sub-sub-link-selected
{
    margin-top: 6px;
}

.home
{
    background-color: rgb(23 118 47);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


#current-page
{
    height: 40px;
    background-color: rgba(23, 118, 47, 0.75);
}

th, td
{
    border: black solid 1px;
    height: 40px;
}

table
{
    width: 100%;
    text-align: center;
}

.pay
{
    color: red;
    text-decoration: underline;
}

.line
{
    border-bottom: black dotted 4px;
    flex-grow: 6;
    margin-right: 60px;
}

.line2
{
    border-bottom: black dotted 4px;
    flex-grow: 1;
}

.line3
{
    border-bottom: black dotted 4px;
    flex-grow: 3;
}

.name-container
{
    display: flex;
    margin: 10px 0;

}

.small-screen-menu
{
    display: none;
    text-align: center;
    height: 40px;
    background-color: rgb(17 145 43 / 10%);
    padding: 6px 0;
    cursor: pointer;
}

#top-image
{
    position: relative;
    top: -52px;
    z-index: -1; 
    margin-bottom: -132px;
}

#top-image-schedule
{
    position: relative;
    top: -52px;
    z-index: -1; 
    margin-bottom: -76px;
}

#hort
{
    flex-grow: 0;
}

#hort-arrow
{
    margin: 0 -20px 0 8px;
}

#hort-container
{
    display:flex;
    flex-direction: column; 
    align-items: center;
}

#hort-content
{
    text-align: center;
    width:1100px; 
    font-family: Helvetica, Arial, sans-serif;
}

#title
{
    width: 50%;
}

#hort-text-1
{
    color:rgb(234,25,6);
    font-weight: 1000; 
    font-size: 80px;
}

#hort-text-2
{
    color:rgb(67,42,123); 
    font-weight: 1000; 
    font-size: 50px;
}

#hort-text-3
{
    font-size: 50px;
}

#bottom-image
{
    display:flex;
    justify-content: end; 
    z-index:-1; 
    margin-top: -233px;
}

#bottom-image-schedule
{
    display:flex;
    justify-content: end; 
    z-index: -1; 
    margin-top: -205px;
}

#cash-prizes
{
    font-weight: bold; 
    margin: 10px 0;
}

#cash-prizes-info
{
    font-weight: bold; 
    margin-bottom: 30px;
}


@media screen and (max-width: 1500px)
{
    #bottom-image-schedule
    {
        margin-top: -100px;
    }
}

@media screen and (max-width: 1100px) 
{
    
    nav
    {
        display: block;
        padding: 0 6px;
        height: 0px;
        overflow: hidden;
        transition: height 0.5s;
    }

    #nav-hort
    {
        background-color: rgb(238,229,224);
    }

    #schedule-content
    {
        align-items: revert;
        padding-top: 40px;
        font-size: 20px;
    }

    .schedule-heading
    {
        font-size: 25px;
    }

    .cookery-notice
    {
        font-size: 25px;
    }

    .division
    {
        font-size: 30px;
    }

    .schedule-numbers, .schedule-text, .schedule-note
    {
        width: auto;
    }

    .schedule-numbers
    {
        margin: 0 10px;
    }

    #bottom-image
    {
        margin-top: -100px;
    } 

    #hort-content
    {
        width: auto;
    }

    #hort-text-1
    {
        font-size: 50px;
    }

    #hort-text-2, #hort-text-3
    {
        font-size: 40px;
    }

    #title
    {
        width: 80%;
    }

    #top-image, #top-image-schedule
    {
        margin-bottom:0;
        position: absolute;
        top: 120px;
    }

    #hort
    {
        position: relative;
        left: 4vw;
    }

    #hort-arrow
    {
        position: relative;
        left: 8vw;
    }

    .small-screen-menu
    {
        display: block;
    }

    .link
    {
        width: 100%;
        margin: 6px 0;
    }

    .home
    {
        width:100%;
        margin-bottom: 6px;
    }

    .dropdown-content
    {
        width: 80%;
        display: block;
        position: static;
        margin: 0 auto;
    }

    .schedule-dropdown
    {
        width: 80%;
        margin: 0 auto;
        display: block;
        position: static;
    }

    .entry-dropdown
    {
        width: 80%;
        margin: 0 auto;
        display: block;
        position: static;
    }

    .sub-link,  .sub-link-selected, .sub-sub-link, .sub-sub-link-selected, .link-selected
    {
        width: 100%;
        margin: 6px auto 0;
    }

    .schedule, .entry
    {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 30%;
    }

    #show
    {
        display: flex;
        justify-content: center;
        box-sizing: border-box;

        width: 100%; 
    }

    .container
    {
        padding: 0;
    }

    .margin-left,.margin-right
    {
        display: none;
    }

    .text
    {
        width: 100%;
        padding: 0 10px;
    }
}

@media screen and (max-width: 800px)
{
    #top-image, #top-image-schedule
    {
        top: 15vw;
    }
}

@media screen and (max-width: 720px)
{
    #schedule-content
    {
        font-size: 18px;
    }

    li
    {
        margin-bottom: 30px;
    }

    .schedule-note
    {
        width: 175px;
    }

    .schedule-text
    {
        flex-grow: 1;
    }

    #men-text
    {
        font-size: 18px;
    }
}

@media screen and (max-width: 460px)
{
    #schedule-content
    {
        font-size: 16px;
    }

    #men-text
    {
        font-size: 16px;
    }
}

@media screen and (max-width: 382px)
{
    #schedule-content
    {
        font-size: 14px;
    }
}

@media screen and (max-width: 365px)
{
    #schedule-content
    {
        font-size: 12px;
    }

    .schedule-note
    {
        width: 115px;
    }
}

@media screen and (max-width: 1093px)
{

    header
    {
        padding-left: 0;
        justify-content: center;
    }

}

@media screen and (max-width: 600px)
{


    .schedule, .entry
    {
        padding: 0 27%;
    }
}

@media screen and (max-width: 500px)
{


    .schedule, .entry
    {
        padding: 0 21%;
    }
}


@media screen and (max-width: 410px)
{
    .text
    {
        font-size: 18px;
    }



    .schedule, .entry
    {
        padding: 0 15%;
    }
}

